<h1>{{title}}</h1>

<p>So you've made it this far. This is the API documentation</p>

<p>Your mission is to take what we've learned about developing an API and
routing and implement a series of routes that will fulfill all of the test cases.</p>

<p>To do this, you'll need to understand the model (found in the app folder at /models/user.js). Keep in mind that all of the methods return a promise-wrapped value, with the exception of the constructor. This is because at some point, we might build upon this concept and add async activities</p>

<p>Now, go do the job of filling out the routes/user.js file, when it is complete, you'll have a fully running test suite</p>

<h3>Things that will help you:</h3>

<ul>
  <li><a href="http://expressjs.com/en/4x/api.html">The expressjs api</a></li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods">HTTP Methods</a></li>
  <li><a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">HTTP Status Codes</a></li>
</ul>
